# Importing libraries

In [3]:
# Import libraries

import csv
import pandas as pd
import sklearn
import numpy as np
import nltk
import matplotlib.pyplot as plt
nltk.download('punkt_tab')
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\11897\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\11897\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\11897\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

# Load the dataset

In [10]:
# Load the dataset

data = pd.read_csv("./data/SMSSpamCollection",sep='\t', quoting=csv.QUOTE_NONE,
                           names=["class", "sms"])

In [9]:
data.head()

    sms                                              class
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
data.to_csv('raw_data.csv', index = False)

# Split the dataset

In [12]:
# Split dataset
train, temp = train_test_split(data, test_size = 0.3, random_state = 1234)
val, test = train_test_split(temp, test_size = 0.5, random_state = 1234)

In [15]:
train.to_csv('train.csv', index = False)
val.to_csv('validation.csv', index = False)
test.to_csv('test.csv', index = False)