# Importing libraries

In [15]:
# Import libraries
import csv
import pandas as pd
import sklearn
import numpy as np
import nltk
import matplotlib.pyplot as plt
import seaborn as sns; sns.set_theme()
from sklearn.model_selection import train_test_split

# Load the dataset

In [16]:
# Load the dataset

data = pd.read_csv("data/SMSSpamCollection",sep='\t', quoting=csv.QUOTE_NONE,
                           names=["class", "sms"])

In [17]:
data.head()

  class                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
# some statistics
data.groupby('class').describe()

        sms
      count unique                                                top freq
class
ham    4827   4518                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

# Split the dataset

In [20]:
# Split dataset
train, temp = train_test_split(data, test_size = 0.3, random_state = 1234)
val, test = train_test_split(temp, test_size = 0.5, random_state = 1234)

In [21]:
# storing the split data
train.to_csv('data/train.csv', index = False)
val.to_csv('data/validation.csv', index = False)
test.to_csv('data/test.csv', index = False)